.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #f5f9fe;
  box-shadow: 0 2px 4px #1d365e;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  color: #2a73dd;
}
header .container nav a {
  margin-right: 20px;
  color: #1d365e;
  transition: 0.3s;
  position: relative;
}
header .container nav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #2a73dd;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
header .container nav a:hover::before, header .container nav a.active::before {
  width: 100%;
}
header .container nav a:hover, header .container nav a.active {
  color: #2a73dd;
}

#banner {
  background-image: url("../image/product-header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
#banner h2 {
  color: #2a73dd;
}
#banner h3 {
  color: #1d365e;
}
#banner button {
  border: 2px solid #1d365e;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 16px;
}

#products .list .item {
  background: #f5f9fe;
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
  padding: 30px;
}
#products .list .item img {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  width: 100%;
}/*# sourceMappingURL=main.css.map */