// variable
$color-blue-1: #2a73dd;
$color-blue-2: #1d365e;

$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-white-3: #fff;

// mixin ~ function
@mixin ButtonTheme() {
  border: 2px solid $color-blue-2;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 16px;
}
@mixin ShadowTheme($base) {
  box-shadow: $base * 1px $base * 1px $base * 2px $color-white-2,
    $base * -1px $base * -1px $base * 2px $color-white-3;
}

// css
.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: $color-white-1;
  box-shadow: 0 2px 4px $color-blue-2;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      color: $color-blue-1;
    }
    nav {
      a {
        margin-right: 20px;
        color: $color-blue-2;
        transition: 0.3s;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          background: $color-blue-1;
          bottom: -3px;
          left: 50%;
          transform: translateX(-50%);
          transition: 0.3s;
        }
        &:hover::before,
        &.active::before {
          width: 100%;
        }
        &:hover,
        &.active {
          color: $color-blue-1;
        }
      }
    }
  }
}
#banner {
  background-image: url("../image/product-header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  h2 {
    color: $color-blue-1;
  }
  h3 {
    color: $color-blue-2;
  }
  button {
    @include ButtonTheme();
  }
}

#products {
  .list {
    .item {
      background: $color-white-1;
      @include ShadowTheme(6);
      border-radius: 8px;
      padding: 30px;
      img {
        @include ShadowTheme(6);
        width: 100%;
      }
    }
  }
}
// grid system tailwind
